table {
    float: left;
    margin:100px;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black; /* Añadir bordes para ver el efecto */
    padding: 10px;
}
th {
    background-color: #0a53be;
}
.tab {
    background-color:gray;
    font-size: 20px;
    float: left;
    cursor: pointer;
    margin-left: 50px;
    margin-top:  10px;
    padding: 10px;
    color:white;
    border-radius: 10px;
}
.tab:hover {
    background-color: deepskyblue;
}
input{
    margin-top: 20px;
    border-radius: 5px;
}
form {
    background-color: #0a53be;
    margin-top: 200px;
    margin-left: 50px;
    float:left;
    width: 300px;
    border-radius: 20px;
    padding: 30px;
}
input[type="button"] {
    background-color:gray;
    color:white;
    border:none;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color:deepskyblue;
}